<ion-view class="bg">
<ion-pane>
<!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->

<ion-pane>
  <ion-content class="has-header">
    <ion-list>
      <div class="row row-wrap row-no-padding">
        <ion-item class="col">
          <div class="box-sub set-height"><img src="img/banner-0063.jpg" alt="" /></div>
        </ion-item>
      </div>
      <div class="row row-wrap category-items" data-ui-sref="app.full-voucher-page">
            <div class="category-item-image col col-25"> <img data-ng-src="img/food2.jpg" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">Buy one get one free on main course</h3>
              <small>Dine-in only, Please read rules of use.</small>
            </div>
          </div>
      <div class="row">
        <div class="col pin">
          <h2>Kindly ask Merchant to enter their PIN to complete redemption</h2>
        </div>
      </div>
      <div class="row" style="min-height:100px;">
        <div class="col col-25">
          <label class="item item-input left-1 item-input-cirle">
          <input type="number" maxlength="1" class=" form-control add-border" inputmode="numeric"  pattern="[0-9]*" size="1" />
          </label>
        </div>
        <div class="col col-25">
          <label class="item item-input left-1 item-input-cirle">
          <input type="number" maxlength="1" class=" form-control add-border" inputmode="numeric"  pattern="[0-9]*" size="1" />
          </label>
        </div>
        <div class="col col-25">
          <label class="item item-input left-1 item-input-cirle">
          <input type="number" maxlength="1" class=" form-control add-border" inputmode="numeric"  pattern="[0-9]*" size="1" />
          </label>
        </div>
        <div class="col col-25">
          <label class="item item-input left-1 item-input-cirle">
          <input type="number" maxlength="1" class=" form-control add-border" inputmode="numeric"  pattern="[0-9]*" size="1" />
          </label>
        </div>
      </div>
      <div class="row" style="min-height:100px;">
        <div class="col">
          <label class="item form-button">
          <button class="voucher-button col" type="submit" data-ui-sref="app.transaction-complete">Next</button>
          </label>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <div class ="tabs tabs-icon-top"> <a class="tab-item color-gray" data-ui-sref="app.my-information-pin-reset"> <i class = "icon ion-person"></i> My Account </a> <a class = "tab-item color-gray" data-ui-sref="app.favorite"> <i class = "icon ion-star"></i> Favorite </a> <a class = "tab-item" data-ui-sref="app.categories"><img src="img/HOme@2x.png" width="60px" style="padding:0px 7px 7px 7px;" /></a> <a class = "tab-item color-gray" data-ui-sref="app.near-me"> <i class = "icon ion-location"></i> Near Me </a> <a class = "tab-item color-gray"> <i class = "icon ion-share"></i> Share </a> </div>
</ion-pane>
<!--</ion-tab>
  </ion-pane>
</ion-view>


