<ion-view hide-nav-bar="true" class="bg">
  <ion-content has-bouncing="false">
            <div class="list list-inset">
                <div class="item logo-big"> <img src="img/logo.png" alt="logo" /> </div>
                <span id="successMsg"></span>
                <form ng-submit="getPassword(frmForgetPass, data)" name="frmForgetPass" class="invision-form" novalidate>
                <span class="assertive" ng-if="frmForgetPass.$submitted" ng-show="frmForgetPass.email.$error.required"><small>* This field is required !</small></span>
                <span class="assertive" ng-if="frmForgetPass.$submitted" ng-show="frmForgetPass.email.$error.email"><small>* Please enter a valid email address !</small></span>
                <label class="item item-input">
                    <input type="email" placeholder="Enter your email..." name="email" ng-model="data.email" required />
                </label>
                <label class="item form-button">
                    <button class="button button-block button-light" type="submit">Forgot Password</button>
                </label>
                <div class="row form-links">
                    <div class="col"><a data-ui-sref="login">Login?</a></div>
                    <div class="col"><a data-ui-sref="app.register">Create Account?</a></div>
                </div>
                </form>
            </div>
    </ion-content>
</ion-view>
