<ion-view class="bg">
  <ion-pane>
    <!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->
    
    <ion-pane>
      <ion-content class="has-header">
        <!--<div class="item logo-big bg"> <img src="img/logo.png" alt="logo" width="60px" /> </div>-->
        <ion-list>
          <div class="row row-wrap row-no-padding">
            <ion-item class="col">
              <div class="box-sub set-height"><img src="img/banner-0063.jpg" alt="" /></div>
            </ion-item>
          </div>
		  <div class="row row-wrap category-items" data-ui-sref="app.full-voucher-page">
            <div class="category-item-image col col-25"> <img data-ng-src="img/food2.jpg" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">Buy one get one free on main course</h3>
              <small>Dine-in only, Please read rules of use.</small>
            </div>
          </div>
          
          <div class="row list-data-1">
            <div class="col voucher">
              <button data-ui-sref="app.enter-user-pin" class="voucher-button col">Redeem</button>
			  
              <h3>Terms & Condition</h3>
			   <div style="display:inline-table; background:#5ae4f5; width:10px; height:10px; margin-left:12px;"></div> Lorem ipsum dolor sit amet, consectetur. </br> 
			   <div style="display:inline-table; background:#ff9800; width:10px; height:10px; margin-left:12px;"></div> Lorem ipsum dolor sit amet, consectetur.  </br> 
			   <div style="display:inline-table; background:#9c27b0; width:10px; height:10px; margin-left:12px;"></div> Lorem ipsum dolor sit amet, consectetur.  </br> 
			   <div style="display:inline-table; background:#4caf50; width:10px; height:10px; margin-left:12px;"></div> Lorem ipsum dolor sit amet, consectetur. </br> 
			   <div style="display:inline-table; background:#3f51b5; width:10px; height:10px; margin-left:12px;"></div> Lorem ipsum dolor sit amet, consectetur.  </br> 
              </div>
          </div>
        </ion-list>
      </ion-content>
    </ion-pane>
  </ion-pane>
  <div class ="tabs tabs-icon-top"> <a class="tab-item color-gray" data-ui-sref="app.my-information-pin-reset"> <i class = "icon ion-person"></i> My Account </a> <a class = "tab-item color-gray" data-ui-sref="app.favorite"> <i class = "icon ion-star"></i> Favorite </a> <a class = "tab-item" data-ui-sref="app.categories"><img src="img/HOme@2x.png" width="60px" style="padding:0px 7px 7px 7px;" /></a> <a class = "tab-item color-gray" data-ui-sref="app.near-me"> <i class = "icon ion-location"></i> Near Me </a> <a class = "tab-item color-gray"> <i class = "icon ion-share"></i> Share </a> </div>
</ion-view>


