<ion-view>
	<ion-content>
    <div class="content padding">
      <div class="row top-margin">
        <div class="col col-50">
          <h3>How to use</h3>
          <ul>
            <li><a>Lorem ipsum dolor sit</a></li>
            <li><a>Consectetur adipiscing</a></li>
            <li><a>Vestibulum elementum</a></li>
            <li><a>Nec sagittis vestibulum</a></li>
            <li><a>Nam egestas mi eget</a></li>
          </ul>
        </div>
        <div class="col col-50">
          <h3>Account</h3>
          <ul>
            <li><a>Nulla scelerisque ipsum</a></li>
            <li><a>Donec ut sapien varius</a></li>
            <li><a>Morbi egestas sem eu erat</a></li>
            <li><a>Sed dignissim sapien</a></li>
            <li><a>Nulla cursus lectus eget</a></li>
          </ul>
        </div>
      </div>
      <div class="row top-margin">
        <div class="col col-50">
          <h3>iOS</h3>
          <ul>
            <li><a>Sed eu neque varius</a></li>
            <li><a>Cras fringilla justo sed</a></li>
            <li><a>Proin sit amet sem</a></li>
            <li><a>Curabitur quis augue</a></li>
            <li><a>Sed lacinia ex quis ligula</a></li>
          </ul>
        </div>
        <div class="col col-50">
          <h3>Android</h3>
          <ul>
            <li><a>Etiam eget leo aliquet</a></li>
            <li><a>Suspendisse tempus ante</a></li>
            <li><a>Maecenas vitae eros</a></li>
            <li><a>Ut et augue in diam</a></li>
            <li><a>Nullam porttitor quam sed</a></li>
          </ul>
        </div>
      </div>
      <div class="row top-margin">
        <div class="col col-50">
          <h3>How to use</h3>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li><a href="#">Consectetur adipiscing</a></li>
            <li><a href="#">Vestibulum elementum</a></li>
            <li><a href="#">Nec sagittis vestibulum</a></li>
            <li><a href="#">Nam egestas mi eget</a></li>
          </ul>
        </div>
        <div class="col col-50">
          <h3>Account</h3>
          <ul>
            <li><a href="#">Nulla scelerisque ipsum</a></li>
            <li><a href="#">Donec ut sapien varius</a></li>
            <li><a href="#">Morbi egestas sem eu erat</a></li>
            <li><a href="#">Sed dignissim sapien</a></li>
            <li><a href="#">Nulla cursus lectus eget</a></li>
          </ul>
        </div>
      </div>
      <div class="row top-margin">
        <div class="col col-50">
          <h3>iOS</h3>
          <ul>
            <li><a href="#">Sed eu neque varius</a></li>
            <li><a href="#">Cras fringilla justo sed</a></li>
            <li><a href="#">Proin sit amet sem</a></li>
            <li><a href="#">Curabitur quis augue</a></li>
            <li><a href="#">Sed lacinia ex quis ligula</a></li>
          </ul>
        </div>
        <div class="col col-50">
          <h3>Android</h3>
          <ul>
            <li><a href="#">Etiam eget leo aliquet</a></li>
            <li><a href="#">Suspendisse tempus ante</a></li>
            <li><a href="#">Maecenas vitae eros</a></li>
            <li><a href="#">Ut et augue in diam</a></li>
            <li><a href="#">Nullam porttitor quam sed</a></li>
          </ul>
        </div>
      </div>
		</div>
	</ion-content>
</ion-view>
