<div class="bar bar-footer bar-light">
  <div class="row">
    <div class="col col-2">
      <button class="button icon ion-home"></button>
      <strong>Home</strong> </div>
    <div class="col col-2">
      <button class="button icon ion-person"></button>
      <strong>My Account</strong> </div>
    <div class="col col-2">
      <button class="button icon ion-star"></button>
      <strong>Favorite</strong> </div>
    <div class="col col-2">
      <button class="button icon ion-social-usd"></button>
      <strong>Savings</strong> </div>
    <div class="col col-2">
      <button class="button icon ion-ios-book-outline"></button>
      <strong>Near Me</strong> </div>
    <div class="col col-2">
      <button class="button icon ion-search"></button>
      <strong>Search</strong> </div>
  </div>
</div>
