<ion-view hide-nav-bar="false" view-title="How It Works">
    <!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->
    
    <ion-pane class="bg-homes">
      <ion-content class="has-header">
        <ion-list>
          <div class="row row-wrap row-no-padding">
            <ion-item class="col" style="min-height:600px; margin:auto 0px;">
              <ion-content scroll="false">
                <ion-slide-box class="slideshow" does-continue="true" show-pager="true" slide-interval="3000"auto-play="true" on-slide-changed="slideChanged(index)">
                  <ion-slide>
                    <div class="box-how-it-works"> <img src="img/step1.jpg" alt="" /> </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box-how-it-works"> <img src="img/step2.jpg"" alt="" />  </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box-how-it-works"><img src="img/step3.jpg"" alt="" />  </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box-how-it-works"><img src="img/step4.jpg"" alt="" />  </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box-how-it-works"><img src="img/step5.jpg"" alt="" />  </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box-how-it-works"><img src="img/step6.jpg"" alt="" />  </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box-how-it-works"><img src="img/step7.jpg"" alt="" />  </div>
                  </ion-slide>
                </ion-slide-box>
              </ion-content>
            </ion-item>
          </div>
          </div>
        </ion-list>
      </ion-content>
    </ion-pane>
    <div class ="tabs tabs-icon-top"> <a class="tab-item color-gray" data-ui-sref="app.my-information-pin-reset"> <i class = "icon ion-person"></i> My Account </a> <a class = "tab-item color-gray" data-ui-sref="app.favorite"> <i class = "icon ion-star"></i> Favorite </a> <a class = "tab-item" data-ui-sref="app.categories"><img src="img/HOme@2x.png" width="60px" style="padding:0px 7px 7px 7px;" /></a> <a class = "tab-item color-gray" data-ui-sref="app.near-me"> <i class = "icon ion-location"></i> Near Me </a> <a class = "tab-item color-gray"> <i class = "icon ion-share"></i> Share </a> </div>
</ion-view>
<style type="text/css">
.bg-homes{ background:#f7f7f7!important;}
</style>