<ion-view class="bg" view-title="Chili's">
  <ion-pane>
    <!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->
    <ion-pane>
      <ion-content class="has-header">
        <ion-list>
          <div class="row row-wrap row-no-padding">
            <ion-item class="col">
              <div class="box-sub set-height"><img src="img/banner-0063.jpg" alt="" /></div>
            </ion-item>
          </div>
          <div class="row row-wrap row-no-padding">
            <div class ="tabs tabs-icon-top"> <a href="tel:+1-1800-555-5555" class ="tab-item tab-items  color-gray"> <i class="icon ion-ios-telephone" style="color:#27a927;"> <span style="color:#000000; font-weight:600">Call</span></i> </a> <a class = "tab-item tab-items  color-gray"><i class="icon ion-android-search" style="color:#ffeb3b;"> <span style="color:#000000; font-weight:600">Website</span></i> </a> <a data-ui-sref="app.menu-list" class="tab-item tab-items color-gray"> <i class="icon ion-android-document" style="color:#3b49ff;"><span style="color:#000000; font-weight:600"> Menu</span></i> </a> <a class = "tab-item tab-items  color-gray"> <i class="icon ion-android-share-alt" style="color:#913bff;"> <span style="color:#000000; font-weight:600">Share</span></i> </a> </div>
          </div>
          <!--<div class="bar bar-footer bar-light row-wrap row-no-padding" style="height:100px;">
            <div class="row">
              <div class="col col-25">
                <button class="button icon ion-ios-telephone"></button>
                <strong>Call</strong> </div>
              <div class="col col-25">
                <button class="button icon ion-android-globe"></button>
                <strong>Visit Website</strong>
                </button>
              </div>
              <div class="col col-25">
                <button class="button icon ion-ios-book-outline"></button>
                <strong>Menu</strong>
                </button>
              </div>
              <div class="col col-25">
                <button class="button icon ion-android-share-alt"></button>
                <strong>Share Deal</strong>
                </button>
              </div>
            </div>
          </div>-->
          <!--  <a data-ui-sref="app.full-voucher-page" class="row list-data">
          <div class="category-item-image col col-33"><img data-ng-src="img/img4.png"/> </div>
          <div class="category-item-tools col col-67">
            <h3>Buy one get one free on main course</h3>
            <small>Dine-in only</small> </div>
          </a> <a data-ui-sref="app.full-voucher-page" class="row list-data">
          <div class="category-item-image col col-33"><img data-ng-src="img/img4.png"/> </div>
          <div class="category-item-tools col col-67">
            <h3>Buy one get one free on main course</h3>
            <small>Dine-in only</small> </div>
          </a> <a data-ui-sref="app.full-voucher-page" class="row list-data">
          <div class="category-item-image col col-33"><img data-ng-src="img/img4.png"/> </div>
          <div class="category-item-tools col col-67">
            <h3>Buy one get one free on main course</h3>
            <small>Dine-in only</small> </div>
          </a> <a data-ui-sref="app.full-voucher-page" class="row list-data">
          <div class="category-item-image col col-33"><img data-ng-src="img/img4.png"/> </div>
          <div class="category-item-tools col col-67">
            <h3>Buy one get one free on main course</h3>
            <small>Dine-in only</small> </div>
          </a>-->
        </ion-list>
        <ion-item class="category-ion-item">
          <div class="row row-wrap category-items" data-ui-sref="app.full-voucher-page">
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
          <div class="row row-wrap category-items" data-ui-sref="app.full-voucher-page">
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
          <div class="row row-wrap category-items" data-ui-sref="app.full-voucher-page">
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
          <div class="row row-wrap category-items" data-ui-sref="app.full-voucher-page">
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
          <div class="row row-wrap category-items" >
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
          <div class="row row-wrap category-items">
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
          <div class="row row-wrap category-items">
            <div class="category-item-image col col-25"> <img data-ng-src="img/CHILI'S_Logo_A.png" alt="30% flat discount" src="img/img1.png" style="padding:6px 6px 6px 6px;"> </div>
            <div class="category-item-tools col col-75">
              <h3 class="ng-binding">30% flat discount</h3>
              <div class="row">
                <div class="col col-40 ng-binding"><i class="icon ion-radio-waves"></i>Chili's</div>
                <div class="col col-60 right-align item-category ng-binding"><i class="icon ion-location"></i>10 Km away</div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-content>
    </ion-pane>
    </ion-pane>
    <div class ="tabs tabs-icon-top"> <a class="tab-item color-gray" data-ui-sref="app.my-information-pin-reset"> <i class = "icon ion-person"></i> My Account </a> <a class = "tab-item color-gray" data-ui-sref="app.favorite"> <i class = "icon ion-star"></i> Favorite </a> <a class = "tab-item" data-ui-sref="app.categories"><img src="img/HOme@2x.png" width="60px" style="padding:0px 7px 7px 7px;" /></a> <a class = "tab-item color-gray" data-ui-sref="app.near-me"> <i class = "icon ion-location"></i> Near Me </a> <a class = "tab-item color-gray"> <i class = "icon ion-share"></i> Share </a> </div>
</ion-view>
