<ion-view class="bg">
<ion-pane>
<!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->

<ion-pane>
  <ion-content class="has-header">
    <div class="item logo-big bg"> <img src="img/logo.png" alt="logo" width="60px" /> </div>
    <ion-list>
      <div class="row bg">
        <div class="col" style="text-align:center;">
          <div class="list list-inset">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462568.9346359172!2d54.94790677881383!3d25.074096005422494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai+-+United+Arab+Emirates!5e0!3m2!1sen!2sin!4v1497446898522" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-pane>
<!--</ion-tab>
  </ion-pane>
</ion-view>





