<ion-view class="bg" view-title="Redemption History">
<ion-pane>
<!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->

<ion-pane>
  <ion-content class="has-header">
    <div class="item logo-big"> <img src="img/logo.png" alt="logo" width="60px" /> </div>
    <ion-list>
      <div class="row list-data-1" style="border-top: 1px solid #03BDCB; border-bottom: 1px solid #03BDCB; ">
        <div class="category-item-image col col-33"><img data-ng-src="img/img4.png"/> </div>
        <div class="category-item-tools col col-67">
          <h3 style="margin-top:32px;">Pizza Hut</h3>
          </div>
      </div>
       <div class="row list-data-1" style="border-top: 1px solid #03BDCB; border-bottom: 1px solid #03BDCB; ">
        <div class="category-item-image col col-33"><img data-ng-src="img/img3.png"/> </div>
        <div class="category-item-tools col col-67">
          <h3 style="margin-top:32px;">Taco Bell</h3>
          </div>
      </div>
       <div class="row list-data-1" style="border-top: 1px solid #03BDCB; border-bottom: 1px solid #03BDCB; ">
        <div class="category-item-image col col-33"><img data-ng-src="img/CHILI'S_Logo_A.png"/> </div>
        <div class="category-item-tools col col-67">
          <h3 style="margin-top:32px;">Chilis</h3>
          </div>
      </div>
     <!--  <div class="row">
        <div class="col">
         <span class="redemption-para">Reference: VP2017-008</span><br/>
		 <span class="redemption-para">Merchant:Chilis</span><br/>
		 <span class="redemption-para">Branch:JBR</span><br/>
		 <span class="redemption-para">Date abd Time Redeemed: Aug 8,2017, 11.00am</span><br/>
		 <span class="redemption-para">Savings:AED99</span><br/>
        </div>
      </div>
      <div class="row" style="min-height:100px;">
        <div class="col">
          <label class="item form-button">
          <button class="update" type="submit" data-ui-sref="app.search">Next</button>
          </label>
        </div>
      </div> -->
    </ion-list>
  </ion-content>
  <div class ="tabs tabs-icon-top"> <a class="tab-item color-gray" data-ui-sref="app.my-information-pin-reset"> <i class = "icon ion-person"></i> My Account </a> <a class = "tab-item color-gray" data-ui-sref="app.favorite"> <i class = "icon ion-star"></i> Favorite </a> <a class = "tab-item" data-ui-sref="app.categories"><img src="img/HOme@2x.png" width="60px" style="padding:0px 7px 7px 7px;" /></a> <a class = "tab-item color-gray" data-ui-sref="app.near-me"> <i class = "icon ion-location"></i> Near Me </a> <a class = "tab-item color-gray"> <i class = "icon ion-share"></i> Share </a> </div>
</ion-pane>
<!--</ion-tab>
  </ion-pane>
</ion-view>

