<ion-view  hide-nav-bar="false" class="bg">
  <ion-content has-bouncing="false">
    <div class="item logo-big bg"> <img src="img/logo.png" alt="logo" width="60px" /> </div>
    <div class="row">
      <div class="col search-list"><a class="">Cuisine <i class="icon ion-chevron-right"></i></a></div>
    </div>
    <div class="row">
      <div class="col search-list"><a class="">Service or Product <i class="icon ion-chevron-right"></i></a></div>
    </div>
    <div class="row">
      <div class="col search-list"><a class="">Area <i class="icon ion-chevron-right"></i></a></div>
    </div>
  </ion-content>
</ion-view>
