<ion-view class="bg">
<ion-pane>
<!--<ion-tabs class="tabs-energized">
			<ion-tab title="VOUCHERPERKS"> -->

<ion-pane>
  <ion-content class="has-header">
    <div class="item logo-big bg"> <img src="img/logo.png" alt="logo" width="60px" /> </div>
    <ion-list>
      <div class="row bg">
        <div class="col" style="text-align:center;">
          <h1 class="complete-trans-heading"></h1>
          <span class="complete-trans-para">You have approximately saved:</span>
          <div class="list list-inset">
            <label class="item item-input">
            <input type="text" placeholder="200 AED">
            </label>
            <span class="complete-trans-para">The estimated saving is based on the average price of the item your redeemed</span>
            <div class="spacer">&nbsp;</div>
            <!--<label class="item form-button" style="height:300px">
            <button data-ui-sref="app.redemption-details" class="complete-trans" href="#">Redeem</button>
            </label>-->
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <div class ="tabs tabs-icon-top"> <a class="tab-item color-gray" data-ui-sref="app.my-information-pin-reset"> <i class = "icon ion-person"></i> My Account </a> <a class = "tab-item color-gray" data-ui-sref="app.favorite"> <i class = "icon ion-star"></i> Favorite </a> <a class = "tab-item" data-ui-sref="app.categories"><img src="img/HOme@2x.png" width="60px" style="padding:0px 7px 7px 7px;" /></a> <a class = "tab-item color-gray" data-ui-sref="app.near-me"> <i class = "icon ion-location"></i> Near Me </a> <a class = "tab-item color-gray"> <i class = "icon ion-share"></i> Share </a> </div>
</ion-pane>
<!--</ion-tab>
  </ion-pane>
</ion-view>




