/************************************************************************/
/*STUDIO TESSERACT APP CSS*/
/************************************************************************/
/************************************************************************/
/************************************************************************/

/************************************************************************/
/*HOME PAGE BOX CODE APP CSS*/
/************************************************************************/
.box-data{background:#fff; box-shadow:1px 1px 0px 1px #e5e5e5; text-align:center; margin-top:6px;}
.box-data i{font-size:47px;}
.box-data span{font-size:8px; display:block; border-top:1px solid #ccc; text-align:center; color:#a29d9d; background:#f7f8f8}
.box-title-left{color:#f8f8f8; text-align:center;}
.box-title-sub-left{font-size:9px; display:block; position:relative; top:-4px;}
.box-sub{ width:100%;}
.box-sub img{width:100%; height:185px;}
.tab-items i{ background:#fdfdfd; border-radius:12px; padding:5px 5px 5px 5px; height:25px!important; width:auto;} 
.tab-items .icon{ font-size: 11px!important; position: relative; top:15px;}
.item-input-inset{ width:120px;}
.item-input-inset a{ padding-right:20px; color:#999!important;}
.voucher-button{background:rgb(35, 202, 222)!important;color:#fff;position: relative;border: 1px solid rgb(90, 228, 245);text-decoration: none;font-size: 1.2em;}
.item-input input{ color:rgb(66, 139, 202)!important;height:23px;}
.item-input-cirle{position: relative;border-radius:10px;float:left;text-align:center!important;font-size:31px!important;}
.left-1{left:0%;}
.add-border{ border:1px solid #ccc!important;}
.title{display:none;}
.item-input-gray{
    border:1px solid #fbfbfb!important;
    color:#000!important;
    border-radius:0px!important;
	height:35px!important;
}
.category-items:after{
   background:#f7f7f7!important;
}
.menu-list-item:nth-child(1){ margin-top:32px;}
.menu-list-item{ border-bottom:1px solid #f7f7f7!important;}
.item.logo-big img {
    margin:73px 20px 1px 20px!important;
    height: auto!important;
}





/************************************************************************/
/*BASIC ELEMENT APP CSS*/
/************************************************************************/
h1,h2,h3,h4,h5,h6{font-family:'Roboto', sans-serif!important;}
body{font-family:'Open Sans', sans-serif!important;}
.bg{ background:rgb(35, 202, 222)!important;}
.bg-home{ background:rgb(35, 202, 222)!important;}
.logo-big img{ width:100px!important;}
.slideshow{background:#fff!important;}
.set-height{height:205px;}
.box{ width:90%;  margin:12px; border:1px solid #ccc;}
.box img{width:100%; height:139px;}
.slideshow{ margin:auto 0;}
.bar.bar-positive{background:#fff!important;}

.item-input{background:#fff!important;color:rgb(66, 139, 202)!important;border-radius:5px!important;
margin-bottom:12px!important; width:100%;}
.item-input input::placeholder{color:#000!important;font-weight:600;}
.invision-form .list-inset .item-input{background:#fff;border-radius:0px;margin-bottom:0px;padding-left:0px;}
.button.button-primary{border-radius:0px;background:rgb(95, 123, 182);font-size:11px!important;max-width:100%; 
}
.button-danger{border-radius:0px;background:rgb(221, 75, 57);font-size:11px;color:#FFFFFF;max-width:100%;}
.form-links{color:rgb(35, 202, 222)!important;text-align:center;}
.form-links .col a{color:rgb(9, 113, 126)!important; text-align:center;}
.button.button-light{background:rgb(95, 123, 182)!important;border: solid 1px rgb(90, 228, 245);border-radius:0px;color:#fff!important;font-weight:600;}
.bar-light .button{color:#70edfc;}
.col strong{font-size: 1.2em!important;
    color: #000!important;
    text-align: center;
    position: relative;
    top: -6px;
    display: block;}
.bar-footer{height:54px!important;}
.bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before, .bar button.button-icon:before, .bar button .icon:before, .bar button.icon:before, .bar button.icon-left:before, .bar button.icon-right:before{
font-size:30px!important; color:#24c5d8!important;}
.ion-navicon{font-size:30px!important;color:#5696cd!important;}
.bar-footer .col-2{margin:0 auto; text-align:center;}
.nav-bar-title{color:rgb(66, 139, 202)!important; font-weight:600;}
.display-block{display:block;}
.pin h2{font-size:1.2em;font-weight:600;color:rgb(66, 139, 202);padding:12px 12px 12px 12px;text-align:center;}
.voucher h3{position:relative;left:12px;top:-5px;}
.voucher small{display:block;position:relative;left:12px;top:-5px;}
.default-title{ display:none!important;}
.title-center{ left:15px!important; font-size:15px!important;;}
/************************************************************************/
/*LISTING APP CSS*/
/************************************************************************/
.list-data{background:#fff;}
.list-data{border-top:3px solid #70edfc;border-bottom:3px solid #70edfc;text-decoration:none;}
.list-data h3{text-transform:uppercase;font-size:1.2em;font-weight:600;color:rgb(85, 80, 71);}
.list-data small{font-size:9px;font-weight:600;color:rgb(85, 80, 71);}
.list-data-1 h3{text-transform:uppercase;font-size:1.2em;font-weight:600;color:rgb(85, 80, 71);}
.list-data-1 small{font-size:9px; font-weight:600;color:rgb(85, 80, 71);}
.list-data-1{background:#fff;}

.complete-trans-heading{color:#FFFFFF;text-shadow:1px 1px 1px #000;}
.redemption-para{color: rgb(66, 139, 202)!important;font-weight:900;margin-left:12px;}
.complete-trans-para{color: rgb(66, 139, 202)!important;font-weight:900;}
.complete-trans{background: #fff!important;height: 90px;width: 90px;border-radius: 45px;color: rgb(90, 228, 245);position: relative;right: 10px;top: 42px;border: 1px solid #5696cd;text-decoration: none;}

.form-control{width:60px!important; height:60px!important;position: relative;border-radius:10px;text-align:center!important;font-size:31px!important;}

/************************************************************************/
/*MENU ELEMENT APP CSS*/
/************************************************************************/
.full-page-bckg-menu{background:#fff!important;}
.menu-list-item a{margin-bottom:12px;color:#fff!important;font-size:14px!important;border-radius:5px;}
.menu .item-complex .item-content, .menu .item-radio .item-content {padding:11px 0px 0px 11px!important;font-weight:600;margin-bottom:12px!important; color:#000!important; text-transform:capitalize!important;}
.search-list{background:#fff!important;margin-bottom:2px;color:rgb(93, 196, 209)!important;margin: 0px 12px 15px 12px!important;font-size:14px!important;border-radius:5px;}
.search-list a{padding-left:12px;}
.ion-chevron-right{color:#000!important;float:right!important;font-size:18px!important; margin: 0px 12px 0px 12px!important;font-weight:900;}
.update{background:#fff!important;height:auto;width:100%;color: rgb(66, 139, 202);border: 1px solid #5696cd;text-decoration: none;font-size:17px;}
.spacer{padding:30px 0px 30px 0px;height:300px;}
.header-item{color:rgb(66, 139, 202)!important;font-weight:600!important;}
/************************************************************************/
/*MODAL APP CSS*/
/************************************************************************/
.modal-backdrop, .modal-backdrop-bg{position:fixed!important;top:0!important;left:0!important;z-index:10!important;width:100%!important;height:100%!important;background:rgba(22, 30, 31, 0.33)!important;}
.modal-wrapper {position:fixed;top:120px!important;left:0px!important; z-index:10!important; width:98%!important;height:300px!important;margin:1%!important;
}
/************************************************************************/
/*HIDE & SHOW CSS*/
/************************************************************************/
.show{display:block;}
.hide{display:none;}
.footer-menu-icon-home{    background: #70edfc;
    border-radius: 100%;
    padding: 6px 0px 5px 0px;
    color: #FFFFFF!important;
    display: block;
    width: 56px;
    height: 50px;	
	}
.footer-menu-icon-home .icon{
     font-size:30px!important;
	 position:relative!important;
	 top:-1px!important;
}	
	
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 10px;
    line-height: 0px;
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx){
.tabs {
    padding:1px 0px 0px 0px!important;
    border-top: 1px solid #f8f8f8 !important;
    border-bottom: none;
    background-position: top;
    background-size: 100% 1px;
    background-repeat: no-repeat;
	height:60px!important;
 }
}
.tabs{border-top: 1px solid #f8f8f8 !important; background: #fff;}
.tab-item{
 font-size:9px!important;
 padding:4px 4px 4px 4px;
}
.tab-item .icon {
  font-size:24px;
  position:relative;
  top:5px;
}
.color-gray{
  color:#666666;
}
.tabs tabs-icon-top{
     font-size: 10px;
}